@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MighaMedium';
  src: url('../assets/Migha-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'MighaBold';
  src: url('../assets/Migha-Bold.otf') format('opentype');
}

@layer utilities {
  .perspective {
    perspective: 2000px;
  }
  
  .preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.debug-outline {
  outline: 2px solid red;
}